.time {
  background-color: #EA5959;
  padding: 5px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid lightblue;
  width: 15%;
}

.clock {
  display: flex;
  justify-content: flex-end;
}
