.github {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.github form {
    display: flex;
    width: 80%;
    justify-content: space-between;

}

.github input{
    height: 85%;
    min-height: 30px;
    font-size: large;
    border: 1px solid lightgray;
    width: 85%;
    padding-left: 10px;
}

.github-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hidden {
    display: none;
}

.loading-wheel {
    position: absolute;
    top: 100px;
}

.commit-item {
    display: flex;
    flex-direction: column;
    padding: 10px 0;

}

.repo-list .repo-item {
    text-decoration: underline;
    color: blue;
}

.repo-list .repo-item:hover {
    cursor: pointer;
}

.commits-list .commit-item p {
    margin: 0px;
}

.repos-and-commits {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.repos-and-commits ul {
    width: 50%;
    list-style: none;
}

.repos-and-commits .commits-list {
    max-height: 500px; 
    overflow-y: scroll;
}