.github {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.github h2 {
  margin: 10px;
}

.github form {
    display: flex;
    width: 80%;
    justify-content: space-between;
    height: 10%;
}

.github .github-form button {
    font-size: 14px;
}

.github .github-form button:hover {
    cursor: pointer;
}

.github input {
    height: 85%;
    font-size: large;
    border: 1px solid lightgray;
    width: 85%;
    padding-left: 10px;
}

.github-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50%;
}

.hidden {
    display: none;
}

.loading-wheel {
    position: absolute;
    top: 75px;
}

.commit-item {
    display: flex;
    flex-direction: column;
    padding: 10px 0;

}

.repo-list .repo-item {
    text-decoration: underline;
    color: blue;
    font-size: large;
    margin: 5px;
}

.repo-list .repo-item:hover {
    cursor: pointer;
}

.commits-list .commit-item p {
    margin: 0px;
}

.repos-and-commits {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: 75%;
}

.repos-and-commits ul {
    list-style: none;
}

.repo-list {
    width: 30%;
    padding-left: 0px;
}

.commits-list {
    width: 70%;
}

.repos-and-commits ul {
    max-height: 300px; 
    overflow-y: scroll;
}