section.todos {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #deb887;
  padding-bottom: 30px;
  min-height: fit-content;
}

.form-and-list {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-and-list form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-and-list form input {
  height: 85%;
  min-height: 30px;
  font-size: large;
  border: 1px solid lightgray;
  width: 85%;
  padding-left: 10px;
}

.form-and-list form button {
  width: 6%;
  font-size: 14px;
}

.form-and-list form button:hover {
  cursor: pointer;
}

.todo-list {
  width: 100%;
  padding: 0px;
  border: 1px solid lightgray;
}

.form-and-list ul li {
  border-top: 1px solid lightgray;
}

.first-child {
  list-style: none;
  display: flex;
  justify-content: center;
}

.list-item {
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-item button {
  font-size: 14px;
  border-radius: 2px;

}

.list-item button:hover {
  cursor: pointer;
  background-color: #FAC6C6;
  transition-duration: .2s;
}

.list-item:hover {
  background-color: #F0E6E6;
  transition-duration: .5s;
}

.item {
  transition-duration: .5s;
}

.complete-item:hover {
  cursor: pointer;
}

.finished {
  text-decoration: line-through;
  font-size: 16px;
}
