.weather {
  background-image: url('../background.jpg');
  height: fit-content;
  border: 1px solid lightyellow;
  border-radius: 5px;
  padding: 20px;
}

.weather-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.forecast-wrapper {
  color: white;
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.forecast-wrapper li {
  list-style: none;
  border: .5px solid lightblue;
}

.weather-wrapper img {
  margin-left: 80px;
  margin-top: -50px;
  margin-bottom: -50px;
}

.day-forecast {
  margin: 5px;
}
