.widgets {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

.todo-and-github {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
