.widgets {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

body {
  font-family: arial black;
}

.todo-and-github {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
