.widgets {
  display: flex;
  flex-direction: column;
}

body {
  background-image: url('../background-for-website-1.jpg');
  font-family: arial black;
}

.todo-and-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}
